body{

font-family: Arial, Helvetica, sans-serif;
}
.titlebox
{
	height:50px;
}
h1
{
	color:#162955; 
	text-align:center;
	padding-bottom: 15px;
}
.Acctype
{
	width: 100px;
	height: 35px;
	background-color: #162955;
	color:white;
	display: inline-block;
	position: absolute;
	left:1170px; 
	top:10px;
}


header
{
	width: 100%;
	overflow: hidden;
	height: 55px;
	color: white;
	background-color:#162955;
	padding-left: 10px;
	padding-top: 10px;

}
h1
{
	color:#162955; 
	text-align:center;
	padding-bottom: 15px;

}

footer
{
	width: 100%;
	overflow: hidden;
	height: 75px;
	color: white;
	background-color:#162955;
	position:relative;
	top: 50px;
	text-align: right;
	padding-top: 15px;
}

